@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;500&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}
